*.pyc
*.log
node_modules
coverage/
afs_vanilla/logs
afs_vanilla/export_deliverables
afs_vanilla/cantaloupe/*
afs_vanilla/staticfiles
afs_vanilla/media/packages
afs_vanilla/media/build/
afs_vanilla/uploadedfiles/*
afs_vanilla/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE
.tsconfig-paths.json
.frontend-configuration-settings.json
